body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.heading {
  font-size: 3rem;
  font-weight: bold;
  padding: 1%;
  background: linear-gradient(90deg, #5b2c6f, #7d858a, #78281f, #7d6608);
  color: #fff;
  border-bottom: solid 1px #ccc;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 400px;
  width: 400px;
  margin: 2% auto;
  background: #eee;
}

.board-spot {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 6rem;
  border: 1px solid #aaa;
}

#form-box {
  position: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0 auto;
  background: white;
}

#form-box input {
  width: 380px;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 1%;
  padding: 1%;
  font-size: 1.4rem;
}

#game-start {
  background: rgb(144, 188, 224);
}

#game-start:hover {
  background: rgb(122, 168, 204);
  border: solid 1px #000;
}

.p1-win,
#p1-symbol {
  background: linear-gradient(#5b2c6f, #154360);
  color: white;
}

.p2-win,
#p2-symbol {
  background: linear-gradient(#78281f, #7d6608);
  color: white;
}

/* score box stuff */

#score-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

#p1-symbol,
#p2-symbol {
  flex: 1;
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  align-self: center;
  padding: 0.5%;
  margin: 0 1%;
}

#p1-info,
#p2-info {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;  
  font-size: 2rem;
  padding: 2% 2%
}

#p1-info {
  border-right: 1px solid #555;
}

/* button stuff */

#button-box {
  flex: 1;
  display: flex;
  flex-direction: row;
  max-width: 800px;
  margin: 0 auto;
}

#new-game,
#play-again {
  flex: 1;
  font-size: 1.5rem;
  background: #fff;
  padding: 0.5%;
  margin: 1% 3%;
}

#new-game:hover,
#play-again:hover {
  background: #666;
  color: #fff;
  border: 1px solid black;
}

#game-info {
  font-size: 1.5rem;
  padding: 1%;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  #p1-info,
  #p2-info {
    font-size: 1.5rem;
    padding: 5% 1%;
  } 
}